body {
  color: #0f0f23;
  color: #9999cc;
  color: #ffff66;
  color: #d0b376;
  color: #01461f;
  color: #4d8b03;
  color: #009900;
  color: #7fbd39;
  color: #5eabb4;
  color: #333333;
  color: #666666;
  color: #cccccc;
  color: #eeeeee;
}
#0f0f23
#9999cc
#ffff66
#d0b376
#01461f
#4d8b03
#009900
#7fbd39
#5eabb4
#333333
#666666
#cccccc
#eeeeee